{% extends "base.html.twig" %}

{% block body %}
    <div class="jumbotron jumbotron-fluid mb-0" id="header">
        <div class="container text-center">
            <img class="img-fluid my-3" src="/logo_white_background.jpg">
            <p class="lead">{{ 'home.lead.what_is_var_dump'|trans|raw }}</p>
            <p class="lead">{{ 'home.lead.what_is_var_dump_formatter_io'|trans({'%dumpsCount%': getUsageCount()}) }}</p>
            <a class="btn btn-lg btn-outline-warning mt-4"
               href="https://www.php.net/manual/en/function.var-dump.php">{{ 'home.btn.learn_more'|trans }}</a>
        </div>
    </div>

    <div id="beautifier">
        <div class="container py-5">
            <div class="row">
                <div class="col">
                    <div class="alert alert-warning">
                        {{ 'home.alert.warning.paste_with_caution'|trans|raw }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col text-center">
                    <h2>{{ 'home.lead.beautify'|trans }}</h2>
                </div>
            </div>

            {{ form_start(form) }}
            <div class="row">
                <div class="col-12">
                    {{ form_errors(form.content, {'attr': {'class': 'form-control'}}) }}
                    {{ form_widget(form.content, {'attr': {'class': 'form-control', 'placeholder': 'home.form.placeholder'|trans}}) }}
                </div>
                <div class="col-6 my-3">
                    <button id="beautify-btn" type="button" class="btn btn-warning btn-block"
                            data-href="{{ url('_format') }}">{{ 'home.btn.beautify_it'|trans }}
                    </button>
                </div>
                <div class="col-6 my-3">
                    <button id="share-btn" type="button" data-href="{{ url('_share') }}"
                            class="btn btn-outline-warning btn-block" data-toggle="tooltip"
                            data-placement="top"
                            title="{{ 'home.share.tooltip'|trans }}">
                        {{ 'home.share.btn'|trans }}
                    </button>
                </div>
            </div>
            {{ form_end(form) }}

            <div class="row collapse" id="share-id-input-container">
                <div class="col-12">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon3"><i
                                        class="material-icons">share</i>&nbsp;{{ 'home.share.link'|trans }}</span>
                        </div>
                        <input class="form-control" id="share-id-input" aria-describedby="basic-addon3">
                    </div>
                </div>
            </div>

            <div class="alert alert-danger d-none" id="alert-invalid-output">
                {{ 'home.alert.error.invalid_output'|trans }}
            </div>

            <div class="alert alert-danger d-none" id="alert-cant-parse-output">
                {{ 'home.alert.error.cant_parse'|trans }}
            </div>

            <div class="alert alert-danger d-none" id="alert-cant-share">
                {{ 'home.alert.error.cant_share'|trans }}
            </div>

            <div class="col-12 py-3 collapse {% if nodes is defined %}show{% endif %}" id="result">
                {% if nodes is defined %}
                    {% for node in nodes.children %}
                        {% include 'node.html.twig' with {node: node} %}
                    {% endfor %}
                {% endif %}
            </div>
            <div id="export-container" class="row collapse {% if nodes is defined %}show{% endif %}">
                <div class="col-md-6 col-lg-3 offset-lg-7 mt-3">
                    <select class="custom-select ml-auto" id="export-format-input">
                        <option value="{{ constant('App\\Service\\UserVarDumpExporter::FORMAT_JSON') }}"
                                selected>{{ 'home.export.format.json'|trans }}
                        </option>
                        <option value="{{ constant('App\\Service\\UserVarDumpExporter::FORMAT_XML') }}">{{ 'home.export.format.xml'|trans }}</option>
                        <option value="{{ constant('App\\Service\\UserVarDumpExporter::FORMAT_VARDUMP') }}">{{ 'home.export.format.formatted'|trans }}
                        </option>
                    </select>
                </div>
                <div class="col-md-6 col-lg-2 mt-3">
                    <button id="export-btn" type="button" class="btn btn-primary btn-block"
                            data-href="{{ url('_export', {format: '__format__'}) }}">{{ 'home.export.btn'|trans }}
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="jumbotron jumbotron-fluid mb-0">
        <div class="container text-center">
            <img class="img-fluid mb-5" src="/favicon.png" width="80px">
            <h4 class="display-5 mb-3 text-muted">{{ 'home.tools.title'|trans }}</h4>
            <p class="lead mb-4 pb-3">{{ 'home.tools.description'|trans|raw }}</p>
            <div class="card-deck">
                <div class="card shadow">
                    <div class="card-body">
                        <h5 class="card-title mb-5">{{ 'home.tools.xdebug.title'|trans }}</h5>
                        <p class="card-text">{{ 'home.tools.xdebug.description'|trans|raw }}</p>
                        <a href="https://xdebug.org/"
                           class="btn btn-link btn-sm">{{ 'home.tools.xdebug.btn'|trans }}</a>
                    </div>
                </div>
                <div class="card shadow">
                    <div class="card-body">
                        <h5 class="card-title mb-5">{{ 'home.tools.vardumper.title'|trans }}</h5>
                        <p class="card-text">{{ 'home.tools.vardumper.description'|trans }}</p>
                        <a href="https://symfony.com/doc/current/components/var_dumper.html"
                           class="btn btn-link btn-sm">{{ 'home.tools.vardumper.btn'|trans }}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="footer" class="py-5 text-center">
        <div class="container">
            <div class="row">
                <div class="m-auto col-6">
                    <img class="img-fluid" src="/white_logo_transparent_background.png">
                </div>
                <div class="col-12">
                    <h4>{{ 'home.footer.brought_to_you_by'|trans }} <a target="_blank"
                                                                       href="https://www.linkedin.com/in/alexandre-daubois/">Alexandre
                            Daubois</a></h4>
                </div>
                <div class="col-12">
                    <a class="btn btn-outline-secondary mt-4"
                       href="mailto:hello@vardumpformatter.io">{{ 'home.btn.contact_us'|trans }}</a>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="exportModal" tabindex="-1" aria-labelledby="exportModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exportModalLabel">{{ 'home.modal.title'|trans }}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <textarea id="export-result-container" readonly="readonly" class="px-3">
                    </textarea>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-primary" data-dismiss="modal"><i
                                class="material-icons">close</i> {{ 'home.modal.close'|trans }}
                    </button>
                    <button type="button" id="copy-export-btn" class="btn btn-primary"><i class="material-icons">content_copy</i>
                        {{ 'home.modal.copy'|trans }}
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="/js/home.js"></script>
{% endblock %}